<form>
   <select name="length">
      <option value="6">6</option>
      <option value="8">8</option>
      <option value="10">10</option>
      <option value="12">12</option>
      <option value="14">14</option>
      <option value="16">16</option>
      <option value="18">18</option>
   </select>
   <input type="checkbox" name="uppercase">UpperCase
   <input type="checkbox" name="lowercase">LowerCase
   <input type="checkbox" name="digit">Digit
   <input type="checkbox" name="specialcharacters">SpecialCharacters
   <br>
   <button>Generate Password</button>
   <h1>{{password}}</h1>
   
</form>